<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Js for Emos™</title>

    <link
      rel="icon"
      href="https://cdn.discordapp.com/attachments/742148980682784793/771111681262223380/jst.png"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/install">Install</a>
      <a href="/about">About</a>
      <a class="active" href="/call.html">Call us</a>
    </div>
    <br />
    <br />
    <h1>
      Call us at: <i>(248)434-5508,</i> if you have any questions or concerns!
    </h1>
  </body>
</html>