<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Js for Emos™</title>

    <link
      rel="icon"
      href="https://cdn.discordapp.com/attachments/742148980682784793/771111681262223380/jst.png"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/install">Install</a>
      <a href="/about">About</a>
      <a href="/call">Call us</a>
    </div>
    <h1>
      <br />
      <br />
      <i>"python Import you lazy idiot™"-Kirb.</i>
    </h1>
    <h2>
      <i>"its a coding language that virgins use"-Gold#1337</i>
    </h2>
    <hr />

    <main>
      <br />
      <br />
      <br />
      <img src="https://cdn.discordapp.com/attachments/742148980682784793/771111285688631296/js_for_emos.png" height="504" width="806" class="racist" />
    </main>
    <p>
      <br>
      <br>
      So, why don't <b>you</b>, use JS For Emos, and, maybe, <i>you'll</i> become more <b>Emo</b>!
    </p>
    <img src="https://cdn.discordapp.com/emojis/280907981422329856.png?v=1" />
    <p>
      Meet Jaden (aka. <b>jayboss980, Gold#1337</b>)
      <br>
      He is the creator of JSForEmos. Here is his face.
    </p>
    <img src="https://cdn.discordapp.com/emojis/762510700966051850.png?v=1" />
    <p>
      Meet Kirby (aka. <b>Pupppy44</b>)
      <br>
      He is the web coder for this website. I heard that he's pretty cool.
    </p>
  </body>
</html>